/* footer style */
#footer {
    background: #00adef;
    color: white;
    margin-top: 7em;
}

.footer-head {
    /* padding-top: 2em; */
    color: white;
}

.footer-links ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    border-top: #ccc;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

.footer-links a:hover {
    color: black;
}

.chevron-green {
    color: black;
}

